@layer components {
    .btn {
        padding: 6px 4px;
        text-align: center;
        border-radius: 8px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .btn-principal {
        width: 14rem;
    }
    .btn-form {
        width: 10rem;
    }

    .btn-info {
        background-color: var(--btn-info);
        color: white;
    }

    .btn-info:hover {
        background-color: var(--btn-info-h);
    }

    .btn-success {
        background-color: var(--btn-success);
        color: white;
    }

    .btn-success:hover {
        background-color: var(--btn-success-h);
        color: black;
    }

    .btn-warning {
        background-color: var(--btn-warning);
        color: black;
    }

    .btn-warning:hover {
        background-color: var(--btn-warning-h);
    }

    .btn-danger {
        background-color: var(--btn-danger);
        color: white;
    }

    .btn-danger:hover {
        background-color: var(--btn-danger-h);
    }

    .btn-outline {
        background-color: transparent;
        color: var(--btn-outline);
        border: none;
        position: relative;
        font-weight: 500;
    }

    .btn-outline::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--btn-outline);
        transition: width 0.3s ease;
    }

    .btn-outline:hover::after {
        width: 100%;
    }

    /* Tema oscuro */
    .dark .btn-info {
        background-color: var(--dark-btn-info);
        color: var(--dark-text-primary);
    }

    .dark .btn-info:hover {
        background-color: var(--dark-btn-info-h);
        color: var(--dark-placeholder);
    }

    .dark .btn-success {
        background-color: var(--dark-btn-success);
        color: var(--dark-text-primary);
    }

    .dark .btn-success:hover {
        background-color: var(--dark-btn-success-h);
        color: var(--dark-placeholder);
    }

    .dark .btn-warning {
        background-color: var(--dark-btn-warning);
        color: var(--dark-text-primary);
    }

    .dark .btn-warning:hover {
        background-color: var(--dark-btn-warning-h);
        color: var(--dark-placeholder);
    }

    .dark .btn-danger {
        background-color: var(--dark-btn-danger);
        color: var(--dark-text-primary);
    }

    .dark .btn-danger:hover {
        background-color: var(--dark-btn-danger-h);
        color: var(--dark-placeholder);
    }

    .dark .btn-outline {
        color: var(--dark-btn-outline);
    }

    .dark .btn-outline::after {
        background-color: var(--dark-btn-outline);
    }
}