@layer components {
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    .dark .modal-overlay {
        background: rgba(0, 0, 0, 0.7);
    }

    .modal-container {
        @apply max-w-[350px] sm:max-w-[500px] md:max-w-[800px] xl:max-w-[1100px];
        min-height: 300px;
        border-radius: 8px;
        width: 100%;
        overflow-y: auto;
        position: relative;
    }
    .dark .modal-container {
        background-color: var(--dark-bg-secondary);
        color: var(--dark-text-primary);
    }

    .modal-close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }

    /* Fade in */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.3s forwards;
    }

    /* Scale up */
    @keyframes scaleUp {
        from {
            transform: scale(0.9);
        }

        to {
            transform: scale(1);
        }
    }

    .animate-scaleUp {
        animation: scaleUp 0.3s forwards;
    }
}