
{% extends 'solaire/main.html' %}
{% load static %}

{% block title %}Acceso a evaluación{% endblock title %}
{% block childStylesheet %}<link href='{% static "css/access.css" %}' rel='stylesheet' />{% endblock childStylesheet %}


{% block content%}
<div class='access-container'>
    <img src={% static 'images/OnlineTest.svg' %} draggable='false' loading='lazy' alt='Acceso a evaluación' />

    <form method='post' class='login-form'>{% csrf_token %}
        <div class='form-group icon-input'>
            <i class='bx bxs-user'></i>
            <input type='text' name='token_acceso' placeholder='Introduzca su token de acceso' required>
        </div>

        <button type='submit' class='login-button'>Continuar</button>

        {% if messages %}
        <ul class='messages'>

            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}

        </ul>
        {% endif %}
    </form>
</div>
{% endblock content %}